body{
    padding: 0;
    margin: 0;
}

/*.main{
    margin: 20px;
    width: 1200px;
    height: 600px;
    position: relative;
    background-color: aqua;
    border: 2px solid black;
}*/

#bounce{
    width: 1200px;
    height: 600px;
    position: absolute;
    background-color: red;
}